{{> header}}

<div class="row" id="sheffchildbrand">
  <div class="container centered">
    <div class="backblock">
      <h1 id="whiteheading">{{title}}</h1>
      <p class="lead lighttext">Working Together is a partnership to deliver high quality, efficient patient care for South Yorkshire, Mid Yorkshire and North Derbyshire</p>

      <p>
        <br>
      </p>
    </div>
  </div>
</div>


        <div class="container" id="contactform">
        <div class="row">
        <div class="col-md-5">
            <div id="flash"></div>
            <div class="page-header">
                <h3>Contact Form</h3>
                <p>Send us a message and we will get back to you</p>
            </div>
            <form role="form" method="POST" class="form-horizontal" id="attributeForm">
                <input type="hidden" name="_csrf" value="{{_csrf}}">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-8">
                        <input type="text" name="name" id="name" autofocus class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-8">
                        <input type="email" name="email" id="email" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="message" class="col-sm-2 control-label">Body</label>
                    <div class="col-sm-8">
                        <textarea type="text" name="message" id="message" rows="7" class="form-control" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <button type="submit" class="btn btn-default"><i class="fa fa-mail-forward"></i>Send</button>
                    </div>
                </div>
            </form>
            </div> <!-- COLUMN END -->
            
            <div class="col-md-6">
            <br>
              <h3>Contact Details</h3>
              
              <p>All mail concerning the Working Together programme can be sent to:</p>
              <address>
                <strong>Working Together</strong><br>
                Woodside<br>
                Moorgate Road<br>
                Rotherham<br>
                S60 2UD<br>
                <br>
                <br>
                </address>
              
              
              <h3>Newsletter</h3>
              <p>Feel free to sign up to our regular Working Together newsletter</p>
              
  <form class="form-inline" role="form">
  <div class="form-group">
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword2">Password</label>
    <input type="text" class="form-control" id="" placeholder="Name">
  </div>
    <label class="sr-only" for="exampleInputEmail2">Email address</label>
    <input type="email" class="form-control" id="" placeholder="Enter email">
  </div>
    <button type="submit" class="btn btn-default">Register</button>
</form>
            </div>
            
            
            
            
            </div> <!-- ROW END -->
        </div>

<div class="row" id="barnsleybrand">
  <div class="container centered">
    <div class="backblock">
      <h1 class="lighttext">Learn more</h1>
      <p class="lead lighttext">A partnership to deliver high quality, efficient patient care for South Yorkshire, Mid Yorkshire and North Derbyshire</p>
      <p><a class="btn btn-shfchild btn-lg" role="button" href="/news">Find out more</a>
      </p>
    </div>
  </div>
</div>


{{> footer}}