<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="csrf-token" content="{{_csrf}}">
    <meta name="author" content="">
    <title>Home | Working Together</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="/js/respond.js"></script>
    <![endif]-->

   


</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button><a class="navbar-brand" href="/"><img style="max-width:160px; margin-top: -68px;" src="/img/working.png" class="img-responsive"></a>
            </div>
                   
            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a>
                    </li>
                  <li class="dropdown">
                <a href="/about" class="dropdown-toggle" data-toggle="dropdown">About the Partnership<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/about#vision">Vision and Aims</a></li>
                  <li><a href="/about#partners">The Partners</a></li>
                  <li><a href="/about#team">The Project Team</a></li>
                  <li class="divider"></li>
                  <li><a href="/about#team">Commissioner Working <br>Together Programme</a></li>
                </ul>
              </li>
                <li class="dropdown">
                <a href="/team" class="dropdown-toggle" data-toggle="dropdown">Workstreams<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/team#missionstatement">Link 1</a></li>
                  <li><a href="/team#thing">Link 2</a></li>
                  <li><a href="/team#else">Link 3</a></li>
                  <li><a href="/team#else">Link 3</a></li>
                  <li><a href="/team#else">Link 3</a></li>
                  <li><a href="/team#else">Link 3</a></li>
                  <li><a href="/team#else">Link 3</a></li>
                  <li><a href="/team#else">Link 3</a></li>
                </ul>
              </li>

                    <li><a href="/news">News</a>
                    </li>
                    <li><a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  
  <hr class="cathedral">

<!--[if lt IE 8]>
      <hr class="ieroom">
   <![endif]-->
  
  
  

    {{{body}}}