{{>header}}

<div class="row" id="barnsleybrand">
  <div class="container centered">
    <div class="backblock">
      <h1 class="lighttext">{{title}}</h1>
      <p class="lead lighttext"><br><br>
      <p>
                <ol class="breadcrumb col-md-6">
  <li><a href="/">Home</a></li>
  <li><a href="/workstreams">Workstreams</a></li>
  <li class="active">{{title}}</li>
</ol>
      </p>
    </div>
  </div>
</div>

<div class="container">

    <div class="row">
    <div class="col-md-8"> <!-- Column to the left -->
    
    
    <h1 class="centered"> Workstream Philosophy </h1>
      <p>To explore and then introduce new service models
by pooling expertise and scarce skills to deliver
sustainable and safe care across seven days per week
and, where necessary, across 24 hours a day.</p>

<p>To explore and then introduce new service models
by pooling expertise and scarce skills to deliver
sustainable and safe care across seven days per week
and, where necessary, across 24 hours a day.</p>

<h3>Workstream lead</h3>

          <ul class="media-list main-list" style="padding-left: 5px;">
          <li class="media lighttext" id="barnsleybrand" style="padding: 10px;">
              <a class="pull-left" href="#">
                <img class="media-object" src="/img/holder.png" alt="...">
              </a>
              <div class="media-body">

                <p class="by-author">Chief Executive sponsor: Diane Wake
                  <br>Barnsley Hospital NHS Foundation Trust
                  <br>Manager: James Scott
                </p>
              </div>
            </li>
            </ul>
    
<h3>For more information</h3>
    
    <p>The workstream groups are just beginning to formulate their plans and further updates will be circulated at
regular intervals. For more information, or if you are interested in getting involved, please contact <a href="mailto:janettewatkins@nhs.net">Janette Watkins (Programme
Manager) via email</a> or by telephone on 01709 424 534.</p>
    
    
    </div> <!-- END left -->
    
    <div class="col-md-3"> <!-- column to the right -->
    
    <h1 class="centered"></h1>
    
      <div>
          <ul class="media-list main-list">
          
           <li class="media lighttext blockpadding" id="barnsleybrand">
              <a class="media-heading lighttext" href="#">{{title}}</a>
            </li>
            </ul>
        </div> <!-- end of coloured blocks -->
    
    <div id="newsbrand">
    <h1 class="centered">Latest News</h1>
    <p class="centered">
    Information on the Working Together programme and specific Workstream groups<br>
    <blockquote id="barnsleybrand" class="newsblock"><a href="/news" class="lighttext"><h4>Lead Title</h4>sample text summary of the article...</a></blockquote>
    <blockquote id="barnsleybrand" class="newsblock"><a href="/news" class="lighttext"><h4>Lead Title</h4>sample text summary of the article...</a></blockquote>
    
    </p>
    </div>
    
    
    
    
    
    
    
    
    </div> <!-- END Column to the right -->
    
    
    
    
    
    
    
    
    
    
    
    </div> <!-- END ROW -->
    </div> <!-- END Container -->
    
    
    
    <div class="row" id="workstreambrand">
  <div class="container centered">
    <div class="backblock">


      <div>
      
      
      <h2 class="centered">The Workstreams</h2>
      
          <ul class="media-list main-list list-inline">
          
           <li class="media lighttext blockpadding" id="chesterfieldbrand">
              <a class="media-heading lighttext" href="#">Specialty Collaborative Working</a>
            </li>
          
            <li class="media lighttext blockpadding" id="barnsleybrand">
              <a class="media-heading lighttext" href="#">Consistency in Care</a>
            </li>
            
           <li class="media lighttext blockpadding" id="midyorkbrand">
              <a class="media-heading lighttext" href="#">Specialised Services</a>
           </li>   
            
           <li class="media lighttext blockpadding" id="sheffchildbrand">
              <a class="media-heading lighttext" href="#">Sharing and adopting Good Practice</a>
            </li>
          
            <li class="media lighttext blockpadding" id="sthbrand">
              <a class="media-heading lighttext" href="#">Procurement</a>
            </li>
            
           <li class="media lighttext blockpadding" id="doncasterbrand">
              <a class="media-heading lighttext" href="#">Locums</a>
           </li>   
           
            <li class="media lighttext blockpadding" id="rotherhambrand">
              <a class="media-heading lighttext" href="#">Informatics</a>
           </li>     
           
          </ul>
        </div> <!-- end of coloured blocks -->









    </div>
  </div>
</div>


{{>footer}}