{{>header}}

<div class="row" id="midyorkbrand">
  <div class="container centered">
    <div class="backblock">
      <h1 class="lighttext">{{title}}</h1>
      <p class="lead lighttext"><br><br>
      <p>
                <ol class="breadcrumb col-md-6">
  <li><a href="/">Home</a></li>
  <li><a href="/workstreams">Workstreams</a></li>
  <li class="active">{{title}}</li>
</ol>
      </p>
    </div>
  </div>
</div>

<div class="container">

    <div class="row">
    <div class="col-md-8"> <!-- Column to the left -->
    
    
    <h1 class="centered"> Workstream Philosophy </h1>
      <p>Working with NHS England commissioners to help
configure these services across the partnership to
meet the very demanding service specifications
which exist and to offer safe and consistent care in
all locations.</p>

<p>Working with NHS England commissioners to help
configure these services across the partnership to
meet the very demanding service specifications
which exist and to offer safe and consistent care in
all locations.</p>

<h3>Workstream lead</h3>

          <ul class="media-list main-list" style="padding-left: 5px;">
          <li class="media lighttext" id="midyorkbrand" style="padding: 10px;">
              <a class="pull-left" href="#">
                <img class="media-object" src="/img/holder.png" alt="...">
              </a>
              <div class="media-body">

                <p class="by-author">Chief Executive sponsor: Stephen Eames
                  <br>Mid Yorkshire Hospitals NHS Trust
                  <br>Manager: James Scott
                </p>
              </div>
            </li>
            </ul>
    
<h3>For more information</h3>
    
    <p>The workstream groups are just beginning to formulate their plans and further updates will be circulated at
regular intervals. For more information, or if you are interested in getting involved, please contact <a href="mailto:janettewatkins@nhs.net">Janette Watkins (Programme
Manager) via email</a> or by telephone on 01709 424 534.</p>
    
    
    </div> <!-- END left -->
    
    <div class="col-md-3"> <!-- column to the right -->
    
    <h1 class="centered"></h1>
    
      <div>
          <ul class="media-list main-list">
          
           <li class="media lighttext blockpadding" id="midyorkbrand">
              <a class="media-heading lighttext" href="#">{{title}}</a>
            </li>
            </ul>
        </div> <!-- end of coloured blocks -->
    
    <div id="newsbrand">
    <h1 class="centered">Latest News</h1>
    <p class="centered">
    Information on the Working Together programme and specific Workstream groups<br>
    <blockquote id="midyorkbrand" class="newsblock"><a href="/news" class="lighttext"><h4>Lead Title</h4>sample text summary of the article...</a></blockquote>
    <blockquote id="midyorkbrand" class="newsblock"><a href="/news" class="lighttext"><h4>Lead Title</h4>sample text summary of the article...</a></blockquote>
    
    </p>
    </div>
    
    
    
    
    
    
    
    
    </div> <!-- END Column to the right -->
    
    
    
    
    
    
    
    
    
    
    
    </div> <!-- END ROW -->
    </div> <!-- END Container -->
    
    
    
    <div class="row" id="workstreambrand">
  <div class="container centered">
    <div class="backblock">


      <div>
      
      
      <h2 class="centered">The Workstreams</h2>
      
          <ul class="media-list main-list list-inline">
          
           <li class="media lighttext blockpadding" id="chesterfieldbrand">
              <a class="media-heading lighttext" href="/workstreams/collaborative-working">Specialty Collaborative Working</a>
            </li>
          
            <li class="media lighttext blockpadding" id="barnsleybrand">
              <a class="media-heading lighttext" href="/workstreams/consistency-in-care">Consistency in Care</a>
            </li>
            
           <li class="media lighttext blockpadding" id="midyorkbrand">
              <a class="media-heading lighttext" href="/workstreams/specialist-services">Specialised Services</a>
           </li>   
            
           <li class="media lighttext blockpadding" id="sheffchildbrand">
              <a class="media-heading lighttext" href="/workstreams/sharing-and-adopting-good-practices">Sharing and adopting Good Practice</a>
            </li>
          
            <li class="media lighttext blockpadding" id="sthbrand">
              <a class="media-heading lighttext" href="/workstreams/procurement">Procurement</a>
            </li>
            
           <li class="media lighttext blockpadding" id="doncasterbrand">
              <a class="media-heading lighttext" href="/workstreams/locums">Locums</a>
           </li>   
           
            <li class="media lighttext blockpadding" id="rotherhambrand">
              <a class="media-heading lighttext" href="/workstreams/informatics">Informatics</a>
           </li>       
           
          </ul>
        </div> <!-- end of coloured blocks -->









    </div>
  </div>
</div>


{{>footer}}